[submodule "themes/discourse-placeholder-theme-component"]
	path = themes/discourse-placeholder-theme-component
	url = https://github.com/discourse/discourse-placeholder-theme-component
	branch = main
[submodule "themes/discourse-categories-layout-override"]
	path = themes/discourse-categories-layout-override
	url = https://github.com/tshenry/discourse-categories-layout-override
	branch = main
[submodule "themes/ghost"]
	path = themes/ghost
	url = https://github.com/discourse/ghost
	branch = main
[submodule "themes/discourse-versatile-banner"]
	path = themes/discourse-versatile-banner
	url = https://github.com/tshenry/discourse-versatile-banner
	branch = main
[submodule "themes/Fakebook"]
	path = themes/Fakebook
	url = https://github.com/discourse/Fakebook
	branch = main
[submodule "themes/discourse-search-banner"]
	path = themes/discourse-search-banner
	url = https://github.com/discourse/discourse-search-banner
	branch = main
[submodule "themes/discourse-material-theme"]
	path = themes/discourse-material-theme
	url = https://github.com/Daemonite/discourse-material-theme
[submodule "themes/discourse-brand-header"]
	path = themes/discourse-brand-header
	url = https://github.com/discourse/discourse-brand-header
	branch = main
[submodule "themes/discourse-kanban-theme"]
	path = themes/discourse-kanban-theme
	url = https://github.com/discourse/discourse-kanban-theme
	branch = main
[submodule "themes/discourse-category-banners"]
	path = themes/discourse-category-banners
	url = https://github.com/discourse/discourse-category-banners
	branch = main
[submodule "themes/discourse-vincent-theme"]
	path = themes/discourse-vincent-theme
	url = https://github.com/discourse/discourse-vincent-theme
	branch = main
[submodule "themes/github-status-theme"]
	path = themes/github-status-theme
	url = https://github.com/discourse/github-status-theme
	branch = main
[submodule "themes/discourse-popular-tag-sidebar"]
	path = themes/discourse-popular-tag-sidebar
	url = https://github.com/awesomerobot/discourse-popular-tag-sidebar
[submodule "themes/discourse-avatar-component"]
	path = themes/discourse-avatar-component
	url = https://github.com/discourse/discourse-avatar-component
	branch = main
[submodule "themes/discourse-cookie-consent-banner"]
	path = themes/discourse-cookie-consent-banner
	url = https://github.com/tshenry/discourse-cookie-consent-banner
	branch = main
[submodule "themes/DiscoTOC"]
	path = themes/DiscoTOC
	url = https://github.com/discourse/DiscoTOC
	branch = main
[submodule "themes/discourse-sidebar-nav"]
	path = themes/discourse-sidebar-nav
	url = https://github.com/awesomerobot/discourse-sidebar-nav
[submodule "themes/Discourse-nav-links-component"]
	path = themes/Discourse-nav-links-component
	url = https://github.com/discourse/Discourse-nav-links-component
	branch = main
[submodule "themes/discourse-new-topic-button-theme-component"]
	path = themes/discourse-new-topic-button-theme-component
	url = https://github.com/discourse/discourse-new-topic-button-theme-component
	branch = main
[submodule "themes/discourse-user-menu-tab"]
	path = themes/discourse-user-menu-tab
	url = https://github.com/awesomerobot/discourse-user-menu-tab
[submodule "themes/md-topic-list"]
	path = themes/md-topic-list
	url = https://github.com/iunctis/md-topic-list
[submodule "themes/new-like-icon"]
	path = themes/new-like-icon
	url = https://github.com/discourse/new-like-icon
	branch = main
[submodule "themes/discourse-restrict-uploads"]
	path = themes/discourse-restrict-uploads
	url = https://github.com/tshenry/discourse-restrict-uploads
	branch = main
[submodule "themes/discourse-classic"]
	path = themes/discourse-classic
	url = https://github.com/discourse/discourse-classic
	branch = main
[submodule "themes/discourse-custom-header-links"]
	path = themes/discourse-custom-header-links
	url = https://github.com/discourse/discourse-custom-header-links
	branch = main
[submodule "themes/live-topic-timer"]
	path = themes/live-topic-timer
	url = https://github.com/paviliondev/live-topic-timer
[submodule "themes/discourse-tag-icons"]
	path = themes/discourse-tag-icons
	url = https://github.com/discourse/discourse-tag-icons
	branch = main
[submodule "themes/discourse-header-links"]
	path = themes/discourse-header-links
	url = https://github.com/discourse/discourse-icon-header-links
	branch = main
[submodule "themes/discourse-three-columns-banner"]
	path = themes/discourse-three-columns-banner
	url = https://github.com/discourse/discourse-three-columns-banner
	branch = main
[submodule "themes/discourse-blog-post-styling"]
	path = themes/discourse-blog-post-styling
	url = https://github.com/tshenry/discourse-blog-post-styling
	branch = main
[submodule "themes/discourse-topic-author"]
	path = themes/discourse-topic-author
	url = https://github.com/discourse/discourse-topic-author
	branch = main
[submodule "themes/discourse-mute-button"]
	path = themes/discourse-mute-button
	url = https://github.com/awesomerobot/discourse-mute-button
[submodule "themes/atlas"]
	path = themes/atlas
	url = https://github.com/awesomerobot/atlas
[submodule "themes/Discourse-easy-footer"]
	path = themes/Discourse-easy-footer
	url = https://github.com/discourse/Discourse-easy-footer
	branch = main
[submodule "themes/md-composer-extras"]
	path = themes/md-composer-extras
	url = https://github.com/iunctis/md-composer-extras
[submodule "themes/discourse-big-header-little-header"]
	path = themes/discourse-big-header-little-header
	url = https://github.com/tshenry/discourse-big-header-little-header
	branch = main
[submodule "themes/discourse-knowledge-base-theme"]
	path = themes/discourse-knowledge-base-theme
	url = https://github.com/discourse/discourse-knowledge-base-theme
	branch = main
[submodule "themes/graceful"]
	path = themes/graceful
	url = https://github.com/discourse/graceful
	branch = main
[submodule "themes/discourse-custom-hamburger-links"]
	path = themes/discourse-custom-hamburger-links
	url = https://github.com/discourse/discourse-custom-hamburger-links
	branch = main
[submodule "themes/discourse-unanswered-filter"]
	path = themes/discourse-unanswered-filter
	url = https://github.com/tshenry/discourse-unanswered-filter
	branch = main
[submodule "themes/discourse-button-styles"]
	path = themes/discourse-button-styles
	url = https://github.com/awesomerobot/discourse-button-styles
[submodule "themes/discourse-media-recorder-theme"]
	path = themes/discourse-media-recorder-theme
	url = https://github.com/davidtaylorhq/discourse-media-recorder-theme
[submodule "themes/discourse-header-search-theme"]
	path = themes/discourse-header-search-theme
	url = https://github.com/angusmcleod/discourse-header-search-theme
[submodule "themes/discourse-post-badges"]
	path = themes/discourse-post-badges
	url = https://github.com/discourse/discourse-post-badges
	branch = main
[submodule "themes/material-design-stock-theme"]
	path = themes/material-design-stock-theme
	url = https://github.com/discourse/material-design-stock-theme
	branch = main
[submodule "themes/Discourse-Tiles-image-gallery"]
	path = themes/Discourse-Tiles-image-gallery
	url = https://github.com/discourse/Discourse-Tiles-image-gallery
	branch = main
[submodule "themes/discourse-linkify-words"]
	path = themes/discourse-linkify-words
	url = https://github.com/discourse/discourse-linkify-words
	branch = main
[submodule "themes/discourse-tag-banners"]
	path = themes/discourse-tag-banners
	url = https://github.com/discourse/discourse-tag-banners.git
	branch = main
[submodule "themes/discourse-tab-bar-theme"]
	path = themes/discourse-tab-bar-theme
	url = https://github.com/OsamaSayegh/discourse-tab-bar-theme
[submodule "themes/discourse-require-edit-reason"]
	path = themes/discourse-require-edit-reason
	url = https://github.com/tshenry/discourse-require-edit-reason
	branch = main
[submodule "themes/discourse-theme-switcher"]
	path = themes/discourse-theme-switcher
	url = https://github.com/B-iggy/discourse-theme-switcher
[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/discourse/minima
	branch = main
[submodule "themes/discourse-mobile-category-list-adjustments"]
	path = themes/discourse-mobile-category-list-adjustments
	url = https://github.com/tshenry/discourse-mobile-category-list-adjustments
	branch = main
[submodule "themes/discourse-dark-mode"]
	path = themes/discourse-dark-mode
	url = https://github.com/pmusaraj/discourse-dark-mode
[submodule "themes/discourse-clipboard"]
	path = themes/discourse-clipboard
	url = https://github.com/daemonite/discourse-clipboard
[submodule "themes/Scrollable-post-content"]
	path = themes/Scrollable-post-content
	url = https://github.com/discourse/Scrollable-post-content
	branch = main
[submodule "themes/discourse-trust-level-avatar-flair"]
	path = themes/discourse-trust-level-avatar-flair
	url = https://github.com/tshenry/discourse-trust-level-avatar-flair
	branch = main
[submodule "themes/discourse-header-submenus"]
	path = themes/discourse-header-submenus
	url = https://github.com/discourse/discourse-header-submenus
	branch = main
[submodule "themes/discourse-simple-theme"]
	path = themes/discourse-simple-theme
	url = https://github.com/discourse/discourse-simple-theme
	branch = main
[submodule "themes/discourse-category-sidebars"]
	path = themes/discourse-category-sidebars
	url = https://github.com/awesomerobot/discourse-category-sidebars
[submodule "themes/unformatted_code_detector"]
	path = themes/unformatted_code_detector
	url = https://github.com/lionel-rowe/unformatted_code_detector/
[submodule "themes/discourse-header-theme-toggle"]
	path = themes/discourse-header-theme-toggle
	url = https://github.com/awesomerobot/discourse-header-theme-toggle
[submodule "themes/discourse-social-share"]
	path = themes/discourse-social-share
	url = https://github.com/discourse/discourse-social-share
	branch = main
[submodule "themes/discourse-topic-stopwatch"]
	path = themes/discourse-topic-stopwatch
	url = https://github.com/tshenry/discourse-topic-stopwatch
	branch = main
[submodule "themes/discourse-omit-emoji"]
	path = themes/discourse-omit-emoji
	url = https://github.com/tshenry/discourse-omit-emoji
	branch = main
[submodule "themes/discourse-theme-hibiscus"]
	path = themes/discourse-theme-hibiscus
	url = https://github.com/discourse/discourse-theme-hibiscus.git
	branch = main
[submodule "themes/Discourse-Keyboard-Text"]
	path = themes/Discourse-Keyboard-Text
	url = https://github.com/Chaboi45/Discourse-Keyboard-Text/
[submodule "themes/Discourse-Slick-image-gallery"]
	path = themes/Discourse-Slick-image-gallery
	url = https://github.com/discourse/Discourse-Slick-image-gallery
	branch = main
[submodule "themes/Typewriter-theme"]
	path = themes/Typewriter-theme
	url = https://github.com/Chaboi45/Typewriter-theme
[submodule "themes/discourse-custom-topic-button-component"]
	path = themes/discourse-custom-topic-button-component
	url = https://github.com/discourse/discourse-custom-topic-button-component
	branch = main
[submodule "themes/alien-night-discourse-dark-theme"]
	path = themes/alien-night-discourse-dark-theme
	url = https://github.com/B-iggy/alien-night-discourse-dark-theme
[submodule "themes/Scroll-to-Top"]
	path = themes/Scroll-to-Top
	url = https://github.com/davidkingham/Scroll-to-Top
[submodule "themes/discourse-like-column"]
	path = themes/discourse-like-column
	url = https://github.com/discourse/discourse-like-column
	branch = main
[submodule "themes/discourse-topic-status-filter"]
	path = themes/discourse-topic-status-filter
	url = https://github.com/discourse/discourse-topic-status-filter
	branch = main
[submodule "themes/discourse-automatic-night-mode-theme"]
	path = themes/discourse-automatic-night-mode-theme
	url = https://github.com/muhlisbc/discourse-automatic-night-mode-theme
[submodule "themes/discourse-tag-sidebars"]
	path = themes/discourse-tag-sidebars
	url = https://github.com/awesomerobot/discourse-tag-sidebars
[submodule "themes/discourse-force-mobile-homepage"]
	path = themes/discourse-force-mobile-homepage
	url = https://github.com/tshenry/discourse-force-mobile-homepage
	branch = main
[submodule "themes/discourse-iframe-lightboxes"]
	path = themes/discourse-iframe-lightboxes
	url = https://github.com/hnb-ku/discourse-iframe-lightboxes
[submodule "themes/TavoWEB-theme"]
	path = themes/TavoWEB-theme
	url = https://github.com/tavoweb/TavoWEB-theme
[submodule "themes/discourse-hamburger-theme-selector"]
	path = themes/discourse-hamburger-theme-selector
	url = https://github.com/discourse/discourse-hamburger-theme-selector
	branch = main
[submodule "themes/discourse-refresh-latest-footer"]
	path = themes/discourse-refresh-latest-footer
	url = https://github.com/xfalcox/discourse-refresh-latest-footer
[submodule "themes/StackBlur-backgrounds-discourse-theme-component"]
	path = themes/StackBlur-backgrounds-discourse-theme-component
	url = https://github.com/hnb-ku/StackBlur-backgrounds-discourse-theme-component
[submodule "themes/discourse-classic-theme"]
	path = themes/discourse-classic-theme
	url = https://github.com/Toxuru/discourse-classic-theme
[submodule "themes/discourse-tiger-stripes"]
	path = themes/discourse-tiger-stripes
	url = https://github.com/fefrei/discourse-tiger-stripes
[submodule "themes/EasyGooglSearchThemeDiscourse"]
	path = themes/EasyGooglSearchThemeDiscourse
	url = https://github.com/Chaboi45/EasyGooglSearchThemeDiscourse
[submodule "themes/discourse-custom-code"]
	path = themes/discourse-custom-code
	url = https://github.com/discourse/discourse-custom-code
	branch = main
[submodule "themes/discourse-media-overlay-theme"]
	path = themes/discourse-media-overlay-theme
	url = https://github.com/davidtaylorhq/discourse-media-overlay-theme
[submodule "themes/discourse-alt-logo"]
	path = themes/discourse-alt-logo
	url = https://github.com/discourse/discourse-alt-logo
	branch = main
[submodule "themes/discourse-add-category-column"]
	path = themes/discourse-add-category-column
	url = https://github.com/tshenry/discourse-add-category-column
	branch = main
[submodule "themes/discourse-intercom-widget"]
	path = themes/discourse-intercom-widget
	url = https://github.com/discourse/discourse-intercom-widget
	branch = main
[submodule "themes/discourse-material-theme-ample"]
	path = themes/discourse-material-theme-ample
	url = https://github.com/ip-tools/discourse-material-theme-ample
[submodule "themes/discourse-category-badge-theme-component"]
	path = themes/discourse-category-badge-theme-component
	url = https://github.com/ip-tools/discourse-category-badge-theme-component
[submodule "themes/discourse-team-tweaks"]
	path = themes/discourse-team-tweaks
	url = https://github.com/chrisbeach/discourse-team-tweaks
[submodule "themes/discourse-christmas-hats"]
	path = themes/discourse-christmas-hats
	url = https://github.com/barryvan/discourse-christmas-hats
[submodule "themes/discourse-duckduckgo-search"]
	path = themes/discourse-duckduckgo-search
	url = https://github.com/notriddle/discourse-duckduckgo-search
[submodule "themes/discourse-alternative-voting-category-style"]
	path = themes/discourse-alternative-voting-category-style
	url = https://github.com/tshenry/discourse-alternative-voting-category-style
	branch = main
[submodule "themes/discourse-abbrify-words"]
	path = themes/discourse-abbrify-words
	url = https://github.com/metabrainz/discourse-abbrify-words
[submodule "themes/discourse-admin-warnings"]
	path = themes/discourse-admin-warnings
	url = https://github.com/davidtaylorhq/discourse-admin-warnings
[submodule "themes/plugin-outlets-theme-component"]
	path = themes/plugin-outlets-theme-component
	url = https://github.com/discoursehosting/plugin-outlets-theme-component
[submodule "themes/discourse-welcome-page"]
	path = themes/discourse-welcome-page
	url = https://github.com/angusmcleod/discourse-welcome-page
[submodule "themes/discourse-spinner-theme-component"]
	path = themes/discourse-spinner-theme-component
	url = https://github.com/daveaevion/discourse-spinner-theme-component
[submodule "themes/discourse-emoji-mention"]
	path = themes/discourse-emoji-mention
	url = https://github.com/awesomerobot/discourse-emoji-mention
[submodule "themes/personal-discourse-theme"]
	path = themes/personal-discourse-theme
	url = https://github.com/joebuhlig/personal-discourse-theme
[submodule "themes/discourse-as-dark-theme"]
	path = themes/discourse-as-dark-theme
	url = https://github.com/featheredtoast/discourse-as-dark-theme
	branch = main
[submodule "themes/remove-name-suppression-on-posts"]
	path = themes/remove-name-suppression-on-posts
	url = https://github.com/discourse/remove-name-suppression-on-posts
	branch = main
[submodule "themes/discourse-pulsing-alerts"]
	path = themes/discourse-pulsing-alerts
	url = https://github.com/chrisbeach/discourse-pulsing-alerts
[submodule "themes/discourse-compact-member-list"]
	path = themes/discourse-compact-member-list
	url = https://github.com/chrisbeach/discourse-compact-member-list
[submodule "themes/discourse-thin-header-theme-component"]
	path = themes/discourse-thin-header-theme-component
	url = https://github.com/discourse/discourse-thin-header-theme-component
	branch = main
[submodule "themes/discourse-dark-admin-editor"]
	path = themes/discourse-dark-admin-editor
	url = https://github.com/discourse/discourse-dark-admin-editor
	branch = main
[submodule "themes/discourse-last-seen-user-card-theme-component"]
	path = themes/discourse-last-seen-user-card-theme-component
	url = https://github.com/tshenry/discourse-last-seen-user-card-theme-component
	branch = main
[submodule "themes/discourse-moonclaw-theme"]
	path = themes/discourse-moonclaw-theme
	url = https://github.com/featheredtoast/discourse-moonclaw-theme
	branch = main
[submodule "themes/discourse-timefuser"]
	path = themes/discourse-timefuser
	url = https://github.com/kurozael/discourse-timefuser
[submodule "themes/discourse-group-timezones"]
	path = themes/discourse-group-timezones
	url = git@github.com:discourse/discourse-group-timezones.git
	branch = main
[submodule "themes/fireside-player"]
	path = themes/fireside-player
	url = https://github.com/justindirose/fireside-player
[submodule "themes/discourse-snow-theme"]
	path = themes/discourse-snow-theme
	url = https://github.com/davidtaylorhq/discourse-snow-theme
[submodule "themes/discourse-segment-theme-component"]
	path = themes/discourse-segment-theme-component
	url = https://github.com/scossar/discourse-segment-theme-component
[submodule "themes/discourse-users-nav"]
	path = themes/discourse-users-nav
	url = https://github.com/discourse/discourse-users-nav
	branch = main
[submodule "themes/discourse-category-icons"]
	path = themes/discourse-category-icons
	url = https://github.com/discourse/discourse-category-icons
	branch = main
[submodule "themes/discourse-quick-quote"]
	path = themes/discourse-quick-quote
	url = git@github.com:merefield/discourse-quick-quote.git
[submodule "themes/discourse-peacock-theme"]
	path = themes/discourse-peacock-theme
	url = https://github.com/meghnaAJ/discourse-peacock-theme
[submodule "themes/discourse-topic-excerpts"]
	path = themes/discourse-topic-excerpts
	url = https://github.com/discourse/discourse-topic-excerpts
	branch = main
[submodule "themes/discourse-topic-thumbnails"]
	path = themes/discourse-topic-thumbnails
	url = https://github.com/discourse/discourse-topic-thumbnails
	branch = main
[submodule "themes/discourse-gifs"]
	path = themes/discourse-gifs
	url = https://github.com/discourse/discourse-gifs.git
	branch = main
[submodule "themes/discourse-santa-theme"]
	path = themes/discourse-santa-theme
	url = https://github.com/MeghnaAJ/discourse-santa-theme
[submodule "themes/discourse-featured-tiles"]
	path = themes/discourse-featured-tiles
	url = https://github.com/discourse/discourse-featured-tiles
	branch = main
[submodule "themes/discourse-left-menu-theme-component"]
	path = themes/discourse-left-menu-theme-component
	url = https://github.com/featheredtoast/discourse-left-menu-theme-component
	branch = main
[submodule "themes/discourse-post-views-counter-theme"]
	path = themes/discourse-post-views-counter-theme
	url = https://github.com/muhlisbc/discourse-post-views-counter-theme
[submodule "themes/discourse-mario-theme"]
	path = themes/discourse-mario-theme
	url = https://github.com/meghnaAJ/discourse-mario-theme
[submodule "themes/discourse-video-upload-component"]
	path = themes/discourse-video-upload-component
	url = https://github.com/xomads/discourse-video-upload-component
[submodule "themes/discourse-homepage-feature-component"]
	path = themes/discourse-homepage-feature-component
	url = https://github.com/discourse/discourse-homepage-feature-component
	branch = main
[submodule "themes/discourse-message-bubbles"]
	path = themes/discourse-message-bubbles
	url = https://github.com/naidihr/discourse-message-bubbles
[submodule "themes/discourse-icon-header-links"]
	path = themes/discourse-icon-header-links
	url = https://github.com/discourse/discourse-icon-header-links
	branch = main
[submodule "themes/discourse-custom-loading-spinner"]
	path = themes/discourse-custom-loading-spinner
	url = https://github.com/meghnaAJ/discourse-custom-loading-spinner
[submodule "themes/namati-user-card-profile-theme"]
	path = themes/namati-user-card-profile-theme
	url = https://github.com/LeoMcA/namati-user-card-profile-theme
[submodule "themes/discourse-grogu-theme"]
	path = themes/discourse-grogu-theme
	url = https://github.com/meghnaAJ/discourse-grogu-theme
[submodule "themes/discourse-fireworks"]
	path = themes/discourse-fireworks
	url = https://github.com/meghnaAJ/discourse-fireworks
[submodule "themes/discourse-solarized-theme"]
	path = themes/discourse-solarized-theme
	url = https://github.com/meghnaAJ/discourse-solarized-theme
[submodule "themes/discourse-isabelle-theme"]
	path = themes/discourse-isabelle-theme
	url = https://github.com/awesomerobot/discourse-isabelle-theme
[submodule "themes/discourse-christmas-decorations"]
	path = themes/discourse-christmas-decorations
	url = https://github.com/meghnaAJ/discourse-christmas-decorations
[submodule "themes/discourse-old-android-warning-banner-lets-encrypt-changes"]
	path = themes/discourse-old-android-warning-banner-lets-encrypt-changes
	url = https://github.com/discourse/discourse-old-android-warning-banner-lets-encrypt-changes.git
	branch = main
[submodule "themes/discourse-showcased-categories"]
	path = themes/discourse-showcased-categories
	url = https://github.com/discourse/discourse-showcased-categories
	branch = main
[submodule "themes/discourse-pdf-previews"]
	path = themes/discourse-pdf-previews
	url = https://github.com/discourse/discourse-pdf-previews
	branch = main
[submodule "themes/discourse-olaf-theme"]
	path = themes/discourse-olaf-theme
	url = https://github.com/MeghnaAJ/discourse-olaf-theme
[submodule "themes/discourse-compact-nav"]
	path = themes/discourse-compact-nav
	url = https://github.com/discourse/discourse-compact-nav
	branch = main
[submodule "themes/discourse-star-wars-theme"]
	path = themes/discourse-star-wars-theme
	url = https://github.com/naidihr/discourse-star-wars-theme
[submodule "themes/zeronoise"]
	path = themes/zeronoise
	url = https://github.com/discourse/zeronoise
	branch = main
[submodule "themes/discourse-mobile-op-avatar-component"]
	path = themes/discourse-mobile-op-avatar-component
	url = https://github.com/discourse/discourse-mobile-op-avatar-component
	branch = main
[submodule "themes/discourse-dice"]
	path = themes/discourse-dice
	url = https://github.com/discourse/discourse-dice
	branch = main
[submodule "themes/lazy-canned-responses"]
	path = themes/lazy-canned-responses
	url = https://github.com/worldismine/lazy-canned-responses
[submodule "themes/discourse-category-headers"]
	path = themes/discourse-category-headers
	url = https://github.com/naidihr/discourse-category-headers
[submodule "themes/discourse-baidu-search"]
	path = themes/discourse-baidu-search
	url = https://github.com/discourse/discourse-baidu-search
	branch = main
[submodule "themes/Dark-Blue-Theme"]
	path = themes/Dark-Blue-Theme
	url = https://github.com/ondrej2004/Dark-Blue-Theme.git
	branch = main
[submodule "themes/discourse-units"]
	path = themes/discourse-units
	url = https://github.com/udan11/discourse-units
[submodule "themes/discourse-google-font-component"]
	path = themes/discourse-google-font-component
	url = https://github.com/discourse/discourse-google-font-component
	branch = main
[submodule "themes/category-highlighter"]
	path = themes/category-highlighter
	url = https://github.com/paviliondev/category-highlighter
[submodule "themes/discourse-reply-template-component"]
	path = themes/discourse-reply-template-component
	url = https://github.com/discourse/discourse-reply-template-component
	branch = main
[submodule "themes/raw-post-button"]
	path = themes/raw-post-button
	url = https://github.com/discourse/raw-post-button
	branch = main
[submodule "themes/discourse-image-annotator"]
	path = themes/discourse-image-annotator
	url = https://github.com/discourse/discourse-image-annotator
	branch = main
[submodule "themes/discourse-hide-likes"]
	path = themes/discourse-hide-likes
	url = https://github.com/tshenry/discourse-hide-likes
	branch = main
[submodule "themes/Take-a-break-component"]
	path = themes/Take-a-break-component
	url = https://github.com/Chaboi45/Take-a-break-component
[submodule "themes/discourse-component-youtubetimestamps"]
	path = themes/discourse-component-youtubetimestamps
	url = https://github.com/bevry/discourse-component-youtubetimestamps
[submodule "themes/discourse-tc-reftagger"]
	path = themes/discourse-tc-reftagger
	url = https://github.com/discoursehosting/discourse-tc-reftagger
[submodule "themes/discourse-custom-category-boxes-component"]
	path = themes/discourse-custom-category-boxes-component
	url = https://github.com/discourse/discourse-custom-category-boxes-component
	branch = main
[submodule "themes/Discourse-Theme"]
	path = themes/Discourse-Theme
	url = https://github.com/Kodular-Community/Discourse-Theme
[submodule "themes/discourse-topic-template-placeholders"]
	path = themes/discourse-topic-template-placeholders
	url = https://github.com/naidihr/discourse-topic-template-placeholders
[submodule "themes/discourse-jitsi"]
	path = themes/discourse-jitsi
	url = https://github.com/discourse/discourse-jitsi
	branch = main
[submodule "themes/discourse-allow-arbitrary-homepage"]
	path = themes/discourse-allow-arbitrary-homepage
	url = https://github.com/pfaffman/discourse-allow-arbitrary-homepage
[submodule "themes/discourse-insert-video"]
	path = themes/discourse-insert-video
	url = https://github.com/discourse/discourse-insert-video
	branch = main
[submodule "themes/discourse-user-portfolio"]
	path = themes/discourse-user-portfolio
	url = https://github.com/discourse/discourse-user-portfolio
	branch = main
[submodule "themes/discourse-yotsuba-b"]
	path = themes/discourse-yotsuba-b
	url = https://github.com/iji-cx/discourse-yotsuba-b
[submodule "themes/discourse-yotsuba"]
	path = themes/discourse-yotsuba
	url = https://github.com/iji-cx/discourse-yotsuba
[submodule "themes/discourse-default-composer-category"]
	path = themes/discourse-default-composer-category
	url = https://github.com/pmusaraj/discourse-default-composer-category
[submodule "themes/discourse-d3-graphviz"]
	path = themes/discourse-d3-graphviz
	url = https://github.com/magjac/discourse-d3-graphviz
[submodule "themes/discourse-highlight-text"]
	path = themes/discourse-highlight-text
	url = https://github.com/sbernhard/discourse-highlight-text
[submodule "themes/discourse-add-category-links"]
	path = themes/discourse-add-category-links
	url = https://github.com/sbernhard/discourse-add-category-links
[submodule "themes/hljs-theme-picker"]
	path = themes/hljs-theme-picker
	url = https://github.com/discourse/hljs-theme-picker
	branch = main
[submodule "themes/sunflower-theme"]
	path = themes/sunflower-theme
	url = https://github.com/akachinonyerem/sunflower-theme
[submodule "themes/discourse-whereby"]
	path = themes/discourse-whereby
	url = https://github.com/discourse/discourse-whereby
	branch = main
[submodule "themes/discourse-bug-theme"]
	path = themes/discourse-bug-theme
	url = https://github.com/naidihr/discourse-bug-theme
[submodule "themes/discourse-copy-codeblocks"]
	path = themes/discourse-copy-codeblocks
	url = https://github.com/discourse/discourse-copy-codeblocks
	branch = main
[submodule "themes/arctic-sunrise-theme"]
	path = themes/arctic-sunrise-theme
	url = https://github.com/t1-tracey/arctic-sunrise-theme
[submodule "themes/discourse-hide-users-column"]
	path = themes/discourse-hide-users-column
	url = https://github.com/discourse/discourse-hide-users-column
	branch = main
[submodule "themes/discourse-disable-reply-jump"]
	path = themes/discourse-disable-reply-jump
	url = git@github.com:discourse/discourse-disable-reply-jump.git
	branch = main
[submodule "themes/neomorphism-theme"]
	path = themes/neomorphism-theme
	url = https://github.com/twimbit/neomorphism-discourse
	branch = main
